<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Chat bots</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
                <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>