<div class="row">
    <div class="col-xs-8 col-sm-6 col-md-5 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
      <form class="login-form" (ngSubmit)="onRegister()" #f="ngForm" autocomplete="off">
        <div class="form-title">Register</div>
        <hr>
        <div class="form-group">
          <label for="email">Username</label>
          <input type="text" name="username" class="form-control" ngModel required minlength="5" #username="ngModel">
          <div class="error-message" *ngIf="username.invalid && username.touched">
              <span *ngIf="username.errors.required">Username is required</span>
              <span *ngIf="username.errors.minlength">Username cannot be less than 5 characters</span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" ngModel required email #email="ngModel">
          <div class="error-message" *ngIf="email.invalid && email.touched">
              <span *ngIf="email.errors.required">Email is required</span>
              <span *ngIf="email.errors.email">Email is invalid</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" ngModel required minlength="5" #password="ngModel">
          <div class="error-message" *ngIf="password.invalid && password.touched">
              <span *ngIf="password.errors.required">Password is required</span>
              <span *ngIf="password.errors.minlength">Password cannot be less than 5 characters</span>
          </div>
        </div>
        <hr>
        <div class="p-group">
            <span class="btn-login"><a routerLink="/login">Login</a></span>
            <button class="btn btn-primary btn-register" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>