<div class="container">
    <div class="main row">
    <!-- Chat area -->
    <div class="chat-area col-md-9">
        <!-- User info -->
            <div class="user-info media col-md-12">
                <div class="media-left">
                    <img class="media-object" src="http://placehold.it/300x300"  alt="">
                </div>
                <div class="media-body">
                    <p class="username media-heading">{{selectedUser.username || 'Username'}}</p>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                </div>
            </div>

        <!-- Messages -->
        <div class="messages-wrapper">
            <div class="messages col-md-12 col-md-12" #messageList>
                <ng-container *ngFor="let msg of messages">
                    <div class="message col-md-9 col-md-offset-3" *ngIf="msg.sender === currentUser._id">
                        <div class="panel sent-message">
                            <div class="panel-heading">{{currentUser.username}} <span class="msg-date">{{msg.createdAt | date:'shortTime'}}</span></div>
                            <div class="panel-body has-arrow-right">
                                <span>{{msg.text}}</span>
                            </div>
                        </div>
                    </div> 
        
                    <div class="message col-md-9" *ngIf="msg.sender !== currentUser._id">
                        <div class="panel received-message">
                            <div class="panel-heading">{{selectedUser.username}} <span class="msg-date">{{msg.createdAt | date:'shortTime'}}</span></div>
                            <div class="panel-body has-arrow-left">
                                <span>{{msg.text}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        
        <!-- Message form -->
        <div class="message-form col-md-12 col-sm-12">
            <form class="form-horizontal" (ngSubmit)="onSubmitMessage()" [formGroup]="messageForm" autocomplete="off">
                    <div class="col-sm-9 col-xs-9 col-md-9 col-lg-10" style="padding: 0 10px 0 0;">
                        <input type="text" name="message" class="form-control" placeholder="Start chatting!"  formControlName="message"> 
                    </div>
                    <button [disabled]="messageForm.invalid" class="btn btn-primary col-sm-3 col-xs-3 col-md-3 col-lg-2" type="submit">
                        <span class="fa fa-send"></span>&nbsp;&nbsp;Send Message
                    </button>
            </form>
        </div>
    </div>

    <!-- Sidebar  -->
    <div class="col-md-3 sidebar">
        <ul class="nav nav-tabs nav-justified user-tabs">
            <li role="presentation" (click)="showOnlineUsers()" [ngClass]="{'active': onlineOnly }"><a href="#">Online</a></li>
            <li role="presentation" (click)="showAllUsers()" [ngClass]="{'active': !onlineOnly }"><a href="#">All</a></li>
        </ul>

        <!-- Users list -->
        <div class="user-list">
            <div class="user-item" *ngFor="let user of users | search: searchInput">
                <div class="media col-md-12" (click)="onSelectUser(user)" [ngClass]="{'selected': user === selectedUser}" [hidden]="onlineOnly && !user.online">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                        <span [ngClass]="{'online': user.online, 'offline': !user.online}"></span>
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">{{user.username}}</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="no-users-found" *ngIf="users && !(users | search: searchInput).length">
                <span class="fa fa-search"></span>&nbsp;&nbsp;No users found
            </div>
        </div>

        <!-- Search users -->
        <div class="search-users">
            <input type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Search...">
        </div>  
    </div>
</div>
</div>