<div class="container">
    <div class="main row">
    <!-- Chat area -->
    <div class="chat-area col-md-9">
        <!-- User info -->
            <div class="user-info media col-md-12">
                <div class="media-left">
                    <img class="media-object" src="http://placehold.it/300x300"  alt="">
                </div>
                <div class="media-body">
                    <p class="username media-heading">Username</p>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                </div>
            </div>

        <!-- Messages -->
        <div class="messages-wrapper">
                <div class="messages col-md-12 col-md-12">
                        <div class="message col-md-9">
                            <div class="panel received-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-left">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="message col-md-9 col-md-offset-3">
                            <div class="panel sent-message">
                                <div class="panel-heading">Username</div>
                                <div class="panel-body has-arrow-right">
                                    <span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</span>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        
        <!-- Message form -->
        <div class="message-form col-md-12 col-sm-12">
            <form class="form-horizontal">
                    <div class="col-sm-10 col-xs-10 col-md-10" style="padding: 0 10px 0 0;">
                        <input type="text" name="message" class="form-control" placeholder="Start chatting!"> 
                    </div>
                    <button class="btn btn-primary col-sm-2 col-xs-2 col-md-2" type="submit">Send Message</button>
            </form>
        </div>
    </div>

    <!-- Sidebar  -->
    <div class="col-md-3 sidebar">
        <ul class="nav nav-tabs nav-justified user-tabs">
            <li role="presentation" class="active"><a href="#">Online</a></li>
            <li role="presentation"><a href="#">All</a></li>
        </ul>

        <!-- Users list -->
        <div class="user-list">
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="thumbnail">
                    <img src="http://placehold.it/300x300" alt="">
                    <div class="caption">
                        <h5>Thumbnail label</h5>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita asperiores, ratione magnam aliquid perferendis numquam! </span>
                    </div>
                    </div>
                </div>
            </div> -->
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
            <div class="user-item">
                <div class="media col-md-12">
                    <div class="media-left">
                        <img class="media-object" src="http://placehold.it/300x300"  alt="">
                    </div>
                    <div class="media-body">
                        <p class="username media-heading">Username</p>
                        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit...</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search users -->
        <div class="search-users">
            <input type="text" class="form-control" placeholder="Search...">
        </div>  
    </div>
</div>
</div>